body {
    background-color: aquamarine;
    font: 14px "Century Gothic", "Futura", sans-serif;
}

.game{
    display: flex;
    justify-content: center;
}

.game-info {
    margin-left: 20px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    font-weight: bold;
    font-size: 24px;
    float: left;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}